.append {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;

  img {
    width: 12px;
    height: 12px;
  }
}
