:root {
  --header-height: 60px;
  --header-padding-x: 24px;
  --gutter: 22px;
  --z-modal: 100;
  --z-fixed: 50;
  --text-light-color: #999999;
}

html {
  min-width: 1200px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*[class],
*[class]::before,
*[class]::after {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  height: auto;
  max-height: 100%;
  -webkit-user-drag: none;
  width: 100%;
}

a {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #3167ba;
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: #afb9d7;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #8b99c9;
}

::-webkit-scrollbar-corner {
  background-color: #afb9d7;
}
