html {
  min-width: 1200px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*[class],
*[class]::before,
*[class]::after {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  height: auto;
  max-height: 100%;
  -webkit-user-drag: none;
  width: 100%;
}

a {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #3167ba;
  text-decoration: none;
}
